<p id="notice"><%= notice %></p>

<h3>Your URL was shortened</h3>

<p>The new short URL is <%= link_to @url.short, @url.long, target: "_blank" %>.</p>

<p>The URL leads to <%= link_to @url.long, @url.long %>.</p>

<p><%= link_to 'Shorten another URL', new_url_path %></p>

<p>
  <strong>Long:</strong>
  <%= @url.long %>
</p>